body {
    background: hsl(218, 23%, 16%);
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

.card {
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;
    width: 22rem;
}

.card-title {
    color: hsl(150, 100%, 66%);
    letter-spacing: 0.2rem;
    font-size: 11px;
    margin: 0;
    padding: 1.5rem 0;
}

.card-text {
    color: hsl(193, 38%, 86%);
    margin: 0;
    padding-bottom: 1rem;
}

.svg-container {
    padding-bottom: 3rem;
}

.green-circle {
    width: 4rem;
    height: 4rem;
    background: hsl(150, 100%, 66%);
    border-radius: 50%;
    position: relative;
    top: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#getAdvice:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (min-width: 1440px){
    .card {
        width: 33rem;
    }
}