body {
    background: hsl(218, 23%, 16%);
    height: 100vh;
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;
    height: 23rem;
    width: 22rem;
}

.card-title {
    color: hsl(150, 100%, 66%);
    letter-spacing: 0.2rem;
    font-size: 11px;
    margin: 0;
    padding: 1.5rem 0;
}

.card-text {
    color: hsl(193, 38%, 86%);
    margin: 0;
    padding-bottom: 1rem;
}

.divider {
    width: 295px;
    height: 16px;
}

.green-circle {
    width: 4rem;
    height: 4rem;
    background: hsl(150, 100%, 66%);
    border-radius: 50%;
    position: relative;
    top: -2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1440px){
    .divider {
        width: 444px;
        height: 16px;
    }

    .card {
        width: 33rem;
        height: 20rem;
    }
}